a#popover ~ div.popover{
    border-radius: 8px;
}
a#popover ~ div.popover > div.popover-content{
    margin: 15px;
}

a#popover ~ div.popover > div.popover-content > .form-inline > button.btn-xs{
    margin-top: 5%;
}

a.pop ~ div.popover{
    border-radius: 8px;
}
a.pop ~ div.popover > div.popover-content{
    margin: 15px;
}

a.pop ~ div.popover > div.popover-content > .form-inline > button.btn-xs{
    margin-top: 5%;
}

a.empty-portlet{
    display: block;
    padding: 15px;
    font-size: 100%;
    background-color: rgb(214, 219, 219);
}
a.empty-portlet{
    color: #3B3D3D !important;
    text-decoration: none;
}
a.empty-portlet > span{
   font-size: 50px !important;
}